<div class="container d-flex justify-content-center mb-5" *ngFor="let table of tables_non_occupees">
    <div class="card border border-black btn btn-success rounded-pill px-4 mx-2"  style="width: 100%;">
        <h4 class="card-text pb-2 text-center">Table n°{{ table.numeroTable }} pour {{ table.nbPlaces }} personnes</h4>
        <div class="card-body text-center my-3" *ngIf="table.reservations && table.reservations.length > 0">
            <h4 class="card-text pb-2">Statut : {{ table.reservations[0].statut }}</h4>
            <h4 class="card-text pb-2">Réservée par : {{ table.reservations[0].utilisateur.prenom }} {{ table.reservations[0].utilisateur.nom }}</h4>
        </div>
        <div class="card-body text-center my-3" *ngIf="!table.reservations || table.reservations.length === 0">
            <h4 class="card-text pb-2">Statut : Libre</h4>
        </div>
    </div>
</div>