<div class="jumbotron px-2">
    <div class="container">
      <div class="row align-items-start">
        <div class="col-12">
          <h1 class="display-4 fw-bold lh-1 text-white pb-3">Bienvenue chez<br>Pizza&nbsp;YOLO</h1>
          <a [routerLink]="['/reception-clientele' , 1]" routerLinkActive="active" class="btn btn-light">Réception Clientele</a>
          <a [routerLink]="['/tables/occupees']" routerLinkActive="active" class="btn btn-light">Tables occupées</a>
          <a [routerLink]="['/reservations']" routerLinkActive="active" class="btn btn-light">Réservations</a>
          <a class="btn btn-success btn-lg rounded-pill" href="listeRestaurants" role="button">Nos restaurants</a>
        </div>
      </div>
    </div>
  </div>
  